.font-element {
    padding: 10px;
    cursor: pointer;
}

.font-element:hover,
.font-element.selected {
    outline: 1px solid $gray;
}

.font-element .text-node-wrapper {
    display: inline-block;
}

.font-element .text-node {
    outline: 0;
    padding: 2px;
    border: 0;
    resize: none;
}

.font-element:hover .text-node,
.font-element.selected .text-node,
.font-element.editing .text-node {
    cursor: text;
    outline: 1px solid lighten($gray, 10%);
}

.draggable {
    position: absolute;
}
.dragging {
    cursor: move;
}